/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode header {
    background-color: #222;
}

.dark-mode footer {
    background-color: #222;
}

.dark-mode button {
    background-color: #e0e0e0;
    color: #222;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

section {
    margin: 20px auto;
    width: 90%;
    max-width: 1140px;
}

iframe {
    border: 2px solid #ccc;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 14px;
}
